@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-regular-webfont.woff') format('woff'),
         url('../fonts/terpelsans-regular-webfont.svg#terpel_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-medium-webfont.woff') format('woff'),
         url('../fonts/terpelsans-medium-webfont.svg#terpel_sansmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-bold-webfont.woff') format('woff'),
         url('../fonts/terpelsans-bold-webfont.svg#terpel_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-extrabold-webfont.woff') format('woff'),
         url('../fonts/terpelsans-extrabold-webfont.svg#terpel_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-black-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-black-webfont.woff') format('woff'),
         url('../fonts/terpelsans-black-webfont.svg#terpel_sansblack') format('svg');
    font-weight: 900;
    font-style: normal;

}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Terpel Sans', Arial, sans-serif!important;
    font-style: normal;
    font-weight: 500;
}

html.bg-grey-3 body{
    background: #f7f7f7;
}

table, tr, th, td{
    font-family: 'Terpel Sans', Arial, sans-serif;
}

table.htmlDetailElementTable > tbody > tr > td, table.htmlDetailElementTable > tbody > tr > th{
    padding: 0px!important;
}

html.bg-grey-4 body{
    background: #e9e9e9;
}

@media (min-width:320px) {

}
  
@media (min-width:1080px) {

}

/* Nav */

.fielo-app-menu__btn{
    margin-top: 10px;
}

@media (min-width:1080px) {
    .fielo-app-menu__btn{
        display: none;
    }
}

.fielo-app-menu__btn-bar{
    background-color: #ff1e0a;
}

.fielo-app-menu__body{
    background: #fff;
}

.fielo-menu.fielo-menu--isVertical.fielo-navigation{
    width: 70px;
    position: fixed;
    top: 40%;
}

.fielo-app-menu .fielo-list__item .fielo-link:active,
.fielo-app-menu .fielo-list__item .fielo-link:focus,
.fielo-app-menu .fielo-list__item .fielo-link:hover {
	background: transparent!important;
}

.header__nav-responsive{
    padding: 5px 10px;
    background: #f7f7f7;
}

@media (min-width:1080px) {
    .header__nav-responsive{
        display: none;
    }
}

.header__main-nav{
    display: none;
}

@media (min-width:1080px) {
    .header__main-nav{
        display: block;
    }
}

@media (min-width:320px) {
    .fielo-menu.fielo-menu--isVertical.fielo-navigation{
        display: none;
    }
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isVertical.fielo-navigation{
        display: block;
        background: #fff;
        border-radius: 0px 20px 20px 0px;
    }
}

.fielo-menu.fielo-menu--isVertical.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item{
    padding-left: 0px;
}

.fielo-menu.fielo-menu--isVertical.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item a.fielo-link i{
    font-size: 1.7em;
    margin: 7px auto;
    border: 2px solid #ff1e0a;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    color: #ff1e0a;
}

.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
    padding-bottom: 30px;
    border-bottom: 1px solid #fafafa;
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        padding-top: 30px;
        padding-left: 430px;
        background-image: url('../images/LOGO-CLUBT.svg');
        background-repeat: no-repeat;
        background-size: 12%;
        background-position: 10% 50%;
        background-color: #fff;
    }
}

@media (min-width:1400px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        padding-left: 700px;
    }
}

.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item{
    padding-left: 35px;
}

.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item a.fielo-link,
.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item a.fielo-link:visited{
    color: #55565b;
    text-decoration: none;
}

@media (min-width:1080px) {
    .btn-ingresar{
        border: 2px solid #ff1e0a;
        text-transform: uppercase;
        border-radius: 100px;
        padding: 5px 20px;
        padding-left: 20px!important;
        margin-top: -5px;
        letter-spacing: 1.3px;
        margin-left: 30px;
        background-color: #ff1e0a;
    }
    
    .btn-ingresar a.fielo-link{
        color: #fff!important;
    }
    
    .btn-register{    
        border: 2px solid #ff1e0a;
        text-transform: uppercase;
        border-radius: 100px;
        padding: 5px 20px;
        padding-left: 20px!important;
        margin-top: -5px;
        letter-spacing: 1.3px;
        margin-left: 30px;
    }
    
    .btn-register a.fielo-link{
        color: #ff1e0a!important;
    }
}


/* Footer */

.fielo-footer .fielo-content{
    padding:0!important;
}

.fielo-footer{
    border-top: 0;
}

.el-footer{
    background-color: #ff1e0a;
    color: #fff;
    padding: 30px 45px;
}

.el-copyright{
    background-color: #ae1b17;
    color: #fff;
    font-size: 1rem;
}

.title-footer{
    font-weight: 900;
    font-size: 1.2rem;
}

.footer-title-linea{
    height: 1px;
    background: #fff;
    width: 50px;
    position: relative;
    margin-bottom: 15px;
}

@media (min-width:320px) {
    .footer-numbers-margin{
        margin-left: 0px;
    }
}
  
@media (min-width:1080px) {
    .footer-numbers-margin{
        margin-left: 85px;
    }
}

@media (min-width:1400px) {
    .footer-numbers-margin{
        margin-left: 110px;
    }
}

.logo-footer{
    width: 100%;
    max-width: 42px;
    margin-left: 25px;
}

@media (min-width:1400px) {
    .logo-footer{
        margin-left: 60px;
    }
}

.texto-footer-1{
    line-height: 1.3em;
    font-size: 1.6em;
}

.footer-numbers{
    font-weight: 900;
    font-size: 1.6em;
}

.space-up-1{
    margin-top: 43px;
    margin-bottom: 20px;
}

.nav-footer-1{
    padding: 0;
    list-style: none!important;
    margin-left: -15px;
}

.nav-footer-link{
    color: #fff;
    text-decoration: none;
}

.nav-footer-link:hover, .nav-footer-link:visited{
    color: #fff;
}

/* Main Content Public */

main.fielo-main{
    max-width: 100%;
    width: 100%;
}

/* Inicio */

.banner-inicio{
    background-image: url('../images/inicio/banner-inicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 500px;
}

.banner-inicio div{
    background: rgba(250, 250, 250, .7);
    padding: 50px 40px;
}

@media (min-width:1080px) {
    .banner-inicio{        
        min-height: 470px;
        background-size: 100%;
    }

    .banner-inicio div{
        background: transparent;
        padding: 0px;
    }
}

@media (min-width:1400px) {
    .banner-inicio{        
        min-height: 650px;
    }
}

.header-text-1{
    font-weight: 800;
    font-size: 3.5em;
    color: #ff1e0a;
}

@media (min-width:1080px) {
    .header-text-1{
        font-size: 5em;
    }
}

.header-text-2{
    font-weight: 400;
    color: #ff1e0a;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.btn-terpel{
    border: 2px solid #ff1e0a;
    border-radius: 60px;
    padding: 7px 60px;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
}

@media (min-width:1080px) {
    .btn-terpel{
        padding: 7px 100px;
    }
}

.btn-terpel:hover{
    text-decoration: none;
}

.btn-ui-1{
    color: #ff1e0a;
    background: #fff;
}

.btn-ui-1:hover, .btn-ui-1:visited{
    color: #ff1e0a!important;
}

.btn-ui-2{
    color: #fff;
    background: #ff1e0a;
}

.btn-ui-2:hover, .btn-ui-2:visited{
    color: #fff!important;
}

.bg-grey{
    background: #f7f7f7;
    padding: 40px 0px;
}

.bg-grey-p-0{
    background: #f7f7f7;
}

.inicio__icon{
    margin-bottom: 40px;
    text-align: center;
}

@media (min-width:1080px) {
    .inicio__icon{
        margin-bottom: 0px;
        text-align: left;
    }
}

.inicio__icon h2{
    font-size: 2.2rem;
    font-weight: 800;
    color: #ff1e0a;
    margin: 0;
}

.inicio__icon h3{
    font-size: 1.1rem;
}

img.img__inicio-icon{
    max-width: 66px;
    height: 66px;
}

.arrow-separator{
    vertical-align: bottom;
    position: relative;
    bottom: -60px;
    max-width: 38px;
}

.arrow-separator-2{
    vertical-align: bottom;
    position: relative;
    bottom: -20px;
    max-width: 38px;
}

.h-content{
    font-weight: 800;
    font-size: 2rem;
    color: #ff1e0a;
}

@media (min-width:1080px) {
    .h-content{
        font-size: 3rem;
    }
}

/* CONOCENOS */

.img__icon-conocenos{
    height: 70px;
}

.subheader__div-conocenos{
    color: #666666;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.header__icon-conocenos{
    color: #ff1e0a;
    font-weight: 800;
    font-size: 1.3rem;
    letter-spacing: .08rem;
    margin-top: 20px;
    text-transform: uppercase;
}

.subheader__icon-conocenos{
    color: #666666;
    font-size: 1.2rem;
}

/* BENEFICIOS */

.arrow-separator-3{
    height: 35px;
    background-image: url('../images/arrow-separator.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* REGISTRO */

.body__bg-grey{
    background: #e9e9e9!important;
}

h1.header_registro{
    color: #ff1e0a;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

h1.header_registro b{
    font-weight: 900;
}

.ct-rg-form iframe.fielo-iframe__canvas{
    height: 666px;
    min-height: 666px;
}

@media (min-width:1080px) {
    .ct-rg-form iframe.fielo-iframe__canvas{
        min-height: 360px;
        height: 360px;
    }
}

.ct-rg-registrame iframe.fielo-iframe__canvas{
    height: 1050px;
    min-height: 1050px;
}

@media (min-width:1080px) {
    .ct-rg-registrame iframe.fielo-iframe__canvas{
        min-height: 800px;
        height: 800px;
    }
}

/* TERMINOS Y CONDICIONES */

.h-terminos{
    font-weight: 900;
    font-size: 2rem;
    color: #ff1e0a;
    margin-top: 60px;
}

@media (min-width:1080px) {
    .h-terminos{
        font-size: 3.5rem;
    }
}

.p-terminos{
    text-align: justify;
}

.p-terminos, ol.lista__terminos-y-condiciones li{
    font-size: .8rem;
}

ol.lista__terminos-y-condiciones li{
    margin-bottom: 10px;
}

/* Cobertura */

.slds-form-element{
    min-width: 100%;
}

@media (min-width:1080px) {
    .slds-form-element{
        min-width: 25%;
        margin-left: 0!important;
        margin-top: 25px;
    }
}

.slds-form-element__label{
    min-width: 100%;
    text-align: center;
}

.slds-select{
    min-width: 95%;
    border: .2em solid #ff1e0a;
    padding: 4px 10px;
    border-radius: 30px;
    height: 40px;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

select.slds-select {
    background-image:
        linear-gradient(45deg, transparent 50%, #ff1e0a 50%),
        linear-gradient(135deg, #ff1e0a 50%, transparent 50%),
        linear-gradient(to right, #fff, #fff);
    background-position:
        calc(100% - 25px) calc(1em - 1px),
        calc(100% - 15px) calc(1em - 1px),
        100% 0;
    background-size:
        10px 10px,
        10px 10px,
        3em 3em;
    background-repeat: no-repeat;
}
  
select.slds-select:focus {
    background-image:
    linear-gradient(45deg, #ff1e0a 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #ff1e0a 50%),
    linear-gradient(to right, #fff, #fff);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 25px) 1em,
    100% 0;
    background-size:
    10px 10px,
    10px 10px,
    3em 3em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}
  
.slds-select_container iframe{
    margin-top: 20px;
}

/* Preguntas Frecuentes */

h1.h-faq{
    font-size: 2rem;
    font-weight: 800;
    color: #ff1e0a;
}

h2.h__subtitle-faq{
    font-size: 1.3rem;
    font-weight: 800;
    color: #ff1e0a;
    margin: 40px 0;
}

dt.ac-btn__title{
    background-image:
        linear-gradient(45deg, transparent 50%, #ff1e0a 50%),
        linear-gradient(135deg, #ff1e0a 50%, transparent 50%),
        linear-gradient(to right, transparent, transparent);
    background-position:
        calc(100% - 25px) calc(1em - 1px),
        calc(100% - 15px) calc(1em - 1px),
        100% 0;
    background-size:
        10px 10px,
        10px 10px,
        3em 3em;
    background-repeat: no-repeat;
    border-bottom: 1px solid grey;
    padding: 10px 0;
}

dt.ac-btn__title a{
    color: #666666;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
}

dd.ac-cuadro__txt{
    padding: 20px;
    background: #e9e9e9;
}

/* Lista EDS */

.fielo-iframe.iframe_eds.fielo-js-component iframe{
    min-height: 2500px;
}

@media (min-width:1080px) {
    .fielo-iframe.iframe_eds.fielo-js-component iframe{
        min-height: 1900px;
    }
}

/* Privada */

.privateTmp .fielo-header{
    background: transparent;
}

/* Nav Priv */

.fielo-message.fielo-message--is-global.fielo-message--is-info{
    position: fixed;
    width: 40%;
    margin-left: 33%;
    z-index: 99999999;
    text-align: center;
    padding: 20px 0;
    top: 11%;
    border-radius: 10px;
    box-shadow: 6px 6px 16px 0 grey;
}

.fielo-message.fielo-message--is-global.fielo-message--is-info p.fielo-message__text{
    font-size: 1.5rem;
    font-weight: 400;
}

.fieloplt-shopping-cart-quantity-indicator__value{
    min-width: 20px;
    min-height: 20px;
    padding: 3px 3px 3px;
    background: #ff1e0a;
    right: -10px;
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation.private__main-nav nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        padding-left: 300px;
    }
}

@media (min-width:1400px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation.private__main-nav nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        padding-left: 650px;
    }
}

@media (min-width:1080px) {
    .fieloplt-shopping-cart-quantity-indicator{
        margin-top: -7px;
    }
    
    .fieloplt-shopping-cart-quantity-indicator a.fielo-link{
        color: #fff!important;
    }
    
    .fieloplt-shopping-cart-quantity-indicator a.fielo-link i{
        color: #55565b;
        font-size: 2.5rem;
    }
}

/* Mi Perfil */

.htmlDetailElementTable{
    width: 100%;
}

.bg-grey-2{
    background: #e9e9e9;
    padding: 40px 0px;
}

.perfil__welcome-text{
    color: #666666;
    font-size: 1.5rem;
    margin: 0;
}

.perfil__name-text{
    font-weight: 800;
    color: #666;
    font-size: 2rem;
}

.perfil__millas-text{
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    color: #ff1e0a;
}

img.perfil__chancho-img{
    width: 75%;
    max-width: 183px;
}

h3.perfil__estado-text{
    font-size: 1.2rem;
    color: #666;
    font-weight: 800;
    margin: 0;
}

span.perfil__estado-text{
    font-size: 1.2rem;
    color: #ff1e0a;
    font-weight: 800;
}

@media (min-width:1080px) {
    h3.perfil__estado-text{
        font-size: 1.5rem;
    }
    
    span.perfil__estado-text{
        font-size: 1.5rem;
    }
}

img.perfil__redenciones-img{
    width: 100%;
    max-width: 230px;
}

img.perfil__redenciones-moto-img{
    width: 100%;
}

.mi-pefil__tablas > div > div > input.button11.button111{
    border: 2px solid #ff1e0a;
    border-radius: 60px;
    padding: 7px 60px;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
    background: #fff;
    color: #ff1e0a;
    outline: none;
    margin-left: 60px;
}

@media (min-width:1080px) {
    .mi-pefil__tablas > div > div > input.button11.button111{
        margin-left: 60px;
    }
}

.mi-pefil__tablas > div > div > input.button11:hover{
    background: #fff;
    color: #ff1e0a; 
}

.mi-pefil__tablas > div > div > div > input.button.button1{
    border: 2px solid #ff1e0a;
    border-radius: 60px;
    padding: 7px 60px;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
    background: #fff;
    color: #ff1e0a;
    outline: none;
    margin-left: 60px;
}

@media (min-width:1080px) {
    .mi-pefil__tablas > div > div > div > input.button.button1{
        margin-left: 60px;
    }
}

.mi-pefil__tablas > div > div > div > input.button:hover{
    background: #fff;
    color: #ff1e0a; 
}

.mi-pefil__tablas > div > div > input.button21{
    border: 2px solid #ff1e0a;
    border-radius: 60px;
    padding: 7px 60px;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
    background: #ff1e0a;
    color: #fff;
    outline: none;
}

@media (min-width:1080px) {
    .mi-pefil__tablas > div > div > input.button21{
        margin-left: 60px;
    }
}

.mi-pefil__tablas > div > div > div > input.button2{
    border: 2px solid #ff1e0a;
    border-radius: 60px;
    padding: 7px 60px;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
    background: #ff1e0a;
    color: #fff;
    outline: none;
}

@media (min-width:1080px) {
    .mi-pefil__tablas > div > div > div > input.button2{
        margin-left: 60px;
    }
}

div#table-scroll{
    background: #e9e9e9;
}

div#table-scroll1{
    background: #fff;
}

div#table-scroll, div#table-scroll1{
    padding: 20px;
    border-radius: 30px;
}

div#table-scroll > div > table, div#table-scroll1 > div > table{
    font-family: 'Terpel Sans', Arial, sans-serif;
    background: transparent;
}

div#table-scroll > div > table > tbody, div#table-scroll1 > div > table > tbody{
    border-bottom: 1px solid #b2b2b2;
}

div#table-scroll > div > table > tbody#tbody1, div#table-scroll1 > div > table > tbody#tbody1{
    border-bottom: 0;
}

div#table-scroll > div > table > tbody > tr > td > b > b, div#table-scroll1 > div > table > tbody > tr > td > b >b{
    font-weight: 500;
    color: #ff1e0a;
}

/* Actualizar Datos */

.ct__update-profile iframe.fielo-iframe__canvas{
    height: 1200px;
    min-height: 1200px;
}

@media (min-width:1080px) {
    .ct__update-profile iframe.fielo-iframe__canvas{
        min-height: 900px;
        height: 900px;
    }
}


@media (min-width:1400px) {
    .ct__update-profile iframe.fielo-iframe__canvas{
        min-height: 1000px;
        height: 1000px;
    }
}

div.form__update-data{
    margin-bottom: 30px;
}

div.form__update-data span form{
    width: 100%;
    margin: auto;
}

@media (min-width:1080px) {
    div.form__update-data span form{
        width: 50%;
        margin: auto;
    }
}

div.form__update-data span form div.label{
    text-align: center;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #666666;
    font-weight: 700;
    width: 100%;
}

div.form__update-data span form > div{
    border: 0!important;
}

div.form__update-data span form > div > div{
    width: 100%;
    margin: 0 auto;
}

@media (min-width:1080px) {
    div.form__update-data span form > div > div{
        width: 45%;
        margin: 0 auto;
    }
}

div.form__update-data span form > div > div > input.input{
    width: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;
    padding: 10px 5px;
}

div.form__update-data span form > div > div > input.btn.btnRed{
    border: 0;
    background: #ff1e0a;
    width: 90%;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Terpel Sans', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;
    padding: 8px 0px;
    margin-top: 10px;
}

@media (min-width:1080px) {
    div.form__update-data span form > div > div > input.btn.btnRed{
        width: 100%;
        margin-top:0;
    }
}

div.form__update-data > span > form > div > input.btn.btnRed{
    border: 0;
    background: #ff1e0a;
    width: 50%;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Terpel Sans', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: .15rem;
    padding: 8px 0px;

}

div.form__update-data > span > form > div > select.input{
    background-image: linear-gradient(45deg, transparent 50%, #ff1e0a 50%), linear-gradient(135deg, #ff1e0a 50%, transparent 50%), linear-gradient(to right, #fff, #fff);
    background-position: calc(100% - 25px) calc(1em - 0px), calc(100% - 15px) calc(1em - 0px), 100% 0;
    background-size: 10px 10px, 10px 10px, 3em 3em;
    background-repeat: no-repeat;
    min-width: 95%;
    border: 0;
    padding: 4px 10px;
    border-radius: 10px;
    height: 40px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

div.form__update-data > span > form > div > select.input:focus {
    background-image:
    linear-gradient(45deg, #ff1e0a 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #ff1e0a 50%),
    linear-gradient(to right, #fff, #fff);
    background-position:
    calc(100% - 15px) 1em,
    calc(100% - 25px) 1em,
    100% 0;
    background-size:
    10px 10px,
    10px 10px,
    3em 3em;
    background-repeat: no-repeat;
    outline: 0;
}



.tipoVehiculo__btn-group{
    display: inline-block;
    width: 100%!important;;
}

.tipoVehiculo__btn{
    float: left;
    margin: 3px 12px;
    padding: 5px 35px 5px 15px;
    border-radius: 10px!important;
    color: #838383;
    border:0;
    background-color: #fff;
    background-image: url(../images/check-1.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
}

.tipoVehiculo__btn:hover{
    color: #838383;
    background-color: #fff;
    background-image: url(../images/check-1.png);
}

.tipoVehiculo__btn.active{
    color: #fff;
    background-color: #ff1e0a;
    background-image: url(../images/check-2.png);
}

.tipoVehiculo__btn input{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

/*Redime tus Millas*/

.banner-redime{
    background-image: url('../images/redime-millas/banner-redime.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 500px;
    background-position: 15% 50%;
}

.banner-redime div{
    background: rgba(250, 250, 250, .7);
    padding: 50px 35px;
}

@media (min-width:1080px) {
    .banner-redime{        
        min-height: 365px;
        background-size: 100%;
        background-position: 0% 0%;
    }

    .banner-redime div{
        background: transparent;
        padding: 0px;
    }
}

@media (min-width:1400px) {
    .banner-redime{        
        min-height: 500px;
    }
}

.redime__header-text-1{
    font-weight: 900;
    font-size: 3.5em;
    color: #ff1e0a;
    line-height: 4.5rem;
}

@media (min-width:1080px) {
    .redime__header-text-1{
        font-size: 5em;
    }
}

@media (min-width:1400px) {
    .redime__header-text-1{
        margin-top: 150px;
    }
}

.redime__header-text-2{
    font-weight: 400;
    color: #ff1e0a;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 30px;
}

@media (min-width:1080px) {
    .redime__header-text-2{
        font-size: 1.2em;
    }
}

h1.redime__header-section{
    font-weight: 800;
    font-size: 2rem;
    color: #ff1e0a;
    margin-bottom: 20px;
}

.redime__category-box{
    background: #fff;
    padding: 30px 32px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px #d3d3d3;
    text-align: center;
    max-height: 430px;
    height: 430px;
    margin-bottom: 50px;
}

@media (min-width:1080px) {
    .redime__category-box{
        margin-bottom: 0px;
    }
}

.redime__category-box img{
    height: 200px;
    margin: 25px auto;
    max-width: 200px;
}

h2.redime__category-name{
    color: #797979;
    font-weight: 800;
    font-size: 1.5rem;
    margin: 20px auto;
}

.redime__destacado-box{
    padding: 30px 32px;
    text-align: center;
    max-height: 430px;
    height: 430px;
    margin-bottom: 50px;
}

@media (min-width:1080px) {
    .redime__destacado-box{
        margin-bottom: 0px;
    }
}

.redime__destacado-box img{
    height: 242px;
    max-width: 292px;
}

.redime__destacado-box div{
    padding: 20px 0px;
}

.redime__txt-destacado-category{
    color: #666666;
    font-size: 1.2rem;
}

.redime__txt-destacado-item{
    color: #ff1e0a;
    font-weight: 900;
}

.redime__txt-destacado-value{
    color: #666666;
}

.redime__txt-destacado-value b{
    font-weight: 800;
}

/* Catálogos */

.catalogos__main-content > div > div > div > div.fielo-record{
    margin: 20px 8px;
    padding: 55px 25px 20px 25px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px #d3d3d3;
    height: 470px;
    background-image: url('../images/LOGO-CLUBT.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 10% 6%;
    background-color: #fff;
}

@media (min-width:1080px) {
    .catalogos__main-content > div > div > div > div.fielo-record{
        height: 400px;
    }
}

/* .catalogos__main-content > div > div > div > div.fielo-record > div > span > img.fielo-image {
    
} */

.catalogos__main-content > nav.fielo-paginator{
    font-family: 'Terpel Sans', Arial, sans-serif;
    margin: 50px auto;
}

.fielo-field--is-Name > span.fielo-field__label, .fielo-field--is-F_Nombre2__c > span.fielo-field__label{
    display: none;
}

.fielo-field--is-Name{
    margin-top: 20px;
    text-align: center;
}

.fielo-field--is-F_Nombre2__c{
    text-align: center;
}

div.fielo-field--is-Name > span.fielo-field__value > a.fielo-link__to-detail{
    color: #797979;
    text-decoration: none;
    font-size: 1rem;
}

div.fielo-field--is-F_Nombre2__c > span.fielo-field__value{
    color: #ff1e0a;
    font-size: 1.2rem;
    font-weight: 900;
}

div.fielo-field--is-FieloPLT__Points__c{
    text-align: center;
}

div.fielo-field--is-FieloPLT__Points__c > span.fielo-field__label, div.fielo-field--is-FieloPLT__Points__c > span.fielo-field__value{
    font-size: 1.5rem;
    color: #797979;
}

div.fielo-field--is-FieloPLT__Points__c > span.fielo-field__value{
    font-weight: 800;
}

div.fielo-field--is-F_VerMas__c{
    display: none;
}

div.fielo-field--is-FieloCMSPLT_AddtoCart > span.fielo-field__label{
    display: none;
}

div.fieloplt-add-to-cart{
    margin: 45px auto;
    width: 72%;
}

@media (min-width:1080px) {
    div.fieloplt-add-to-cart{
        margin: 24px auto;
        width: 100%;
    }
}

@media (min-width:1400px) {
    div.fieloplt-add-to-cart{
        margin: 13px auto;
        width: 100%;
    }
}

div.fieloplt-add-to-cart > button.fielo-button__submit{
    border: 0;
    background: #ff1e0a;
    color: #fff;
    padding: 7px 20px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 30px;
    outline: none;
}

div.fieloplt-add-to-cart > input.fieloplt-add-to-cart__quantity{
    background: #fff;
    border: 0;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 0px 15px grey;
    outline: none;
}

.fieloplt-add-to-cart__quantity-add, .fieloplt-add-to-cart__quantity-remove{
    background: #ff1e0a!important;
}

/* Carro */

.cart__background > body{
    background: #e8e8e8!important;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions .cantidad input, .inputQuantity{
	border: 1px solid #ff1e0a;
	border-radius: 20px;
	background-color: #efefef;
	font-size: 11px;
	padding: 7px 0 7px 13px;
	text-align: center;
    width: 60px;
    outline: none;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .landing .post .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .landing .post .fielo-field--is-Name,
.landing .post .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.landing .post .cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.landing .post .fielo-field--is-Name,
.landing .post .reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .landing .post .fielo-field--is-Name {
	float: left;
	width: 200px;
	font-size: 12px;
	font-weight: 700
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .faq .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .faq .fielo-field--is-Name,
.faq .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.faq .cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.faq .fielo-field--is-Name,
.faq .reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .faq .fielo-field--is-Name {
	border-bottom: 1px solid #ccc;
	border-top: none;
	padding-left: 10px;
	vertical-align: bottom
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .faq .fielo-field--is-F_Nombre2__c a,
.cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .faq .fielo-field--is-Name a,
.faq .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c a,
.faq .cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name a,
.faq .fielo-field--is-Name a,
.faq .reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name a,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .faq .fielo-field--is-Name a {
	font-weight: 700;
	color: inherit
}

.cart__background .fieloplt-shopping-cart .fielo-record,
.cart__background .no-items .text {
	border-bottom: 1px solid #d2d7d7
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block {
	margin: 0 auto;
	padding: 40px 0;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-button__delete {
    margin: 0px;
    width: 40px;
    height: 40px;
}

@media (min-width:1080px) {
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-button__delete {
        margin: 30px auto;
        width: 24px;
        height: 24px;
    }
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-FieloPLT__Image__c {
	float: left;
    width: 100%;
    text-align: center;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-FieloPLT__Image__c > span > span > img{
    width: 50%;
}

@media (min-width:1080px) {
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-FieloPLT__Image__c {
        width: 20%;
    }

    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-FieloPLT__Image__c > span > span > img{
        width: 100%;
    }
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name {
	float: left;
	width: 100%;
	font-family: 'Terpel Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: #666666;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name{
    margin-top: 20px;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c{
    margin: 0;
}

@media (min-width:1080px) {
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name {
        float: right;
        width: 75%;
        margin: 0;
    }
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name {
    color: #ff1e0a;
    font-size: 1.5rem;
    font-weight: 900;    
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Descripcion__c {
	float: left;
	width: 100%;
	margin: 10px 0;
    padding-right: 20px;
    padding-left: 20px;
	font-size: 12px;
    color: #4c5051;
    text-align: justify;
}

@media (min-width:1080px) {
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Descripcion__c {
        float: right;
        width: 75%;
        padding-right: 20px;
        padding-left: 0px;
    }
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions{
    width: 100%;
}

@media (min-width:1080px) {
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions{
        width: calc(25% - 16px);
    }
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions .points {
	font-family: 'Terpel Sans', Arial, sans-serif;
	font-size: 20px;
    color: #ff1e0a;
    text-align: center;
    font-weight: 900;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions .disponible {
	font-size: 10px;
    color: #4c5051;
    text-align: center;
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions .cantText {
	margin-top: 10px;
    font-size: 12px;
    text-align: center;    
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions .cantidad{
    margin: 8px auto;
    width: 50%;
    text-align: center;
}

@media (min-width:1400px) {
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions .cantidad{
        margin: 8px auto;
        width: 45%;
    }
}

@media (min-width:1400px) {
    .cart__background .fieloplt-shopping-cart .fielo-record .content-block .actions .cantidad{
        margin: 6px auto;
        width: 38%;
    }
}

.cart__background .no-items .text {
	padding: 40px;
	text-align: center;
	font-family: 'Terpel Sans', Arial, sans-serif;
	font-weight: 700;
	color: #afb3b5;
}

.cart__background .foot-bar {
	width: 100%;
	margin: 10px auto;
}

@media (min-width:1080px) {
    .cart__background .foot-bar {
        width: 900px;
        margin: 30px auto
    }
}

.cart__background .foot-bar button {
	border: 2px solid #ff1e0a;
    border-radius: 30px;
    color: #ff1e0a;
    font-family: 'Terpel Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    outline: none;
}

.cart__background .foot-bar .boton-volver button {
    background-color: transparent;    
}

.cart__background .foot-bar .resumen {
	text-align: center;
	font-family: 'Terpel Sans', Arial, sans-serif;
	font-weight: 800;
    font-size: 22px;
    color: #666666;
    margin: 20px 0;
}

@media (min-width:1080px) {
    .cart__background .foot-bar .resumen {
        margin: 0;
    }
}

.cart__background .foot-bar .resumen .color-red{
    color: #ff1e0a;
    font-weight: 900;
}

.cart__background .foot-bar .boton-volver{
    text-align: center;
}

.cart__background .foot-bar .boton-finalizar {
	text-align: center;
}

.cart__background .foot-bar .boton-finalizar button {
    background-color: #ff1e0a;
    color: #fff;
}

.cart__background .fieloplt-shopping-cart .redime_millas .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .reward_detail .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.redime_millas .cart__background .fieloplt-shopping-cart .reward_detail .listado .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.redime_millas .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.redime_millas .listado .fielo-record .fielo-field--is-F_MillasLM__c,
.redime_millas .listado .fielo-record .fielo-field--is-F_Nombre2__c,
.redime_millas .listado .fielo-record .fielo-field--is-F_VerMas__c,
.redime_millas .listado .fielo-record .fielo-field--is-FieloCMSPLT_AddtoCart,
.redime_millas .listado .fielo-record .fielo-field--is-FieloPLT__Points__c,
.redime_millas .listado .fielo-record .fielo-field--is-Name,
.redime_millas .listado .fielo-record .fielo-field__incommon,
.redime_millas .listado .reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.redime_millas .reward_detail .listado .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.redime_millas .reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.reward_detail .cart__background .fieloplt-shopping-cart .redime_millas .listado .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.reward_detail .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.reward_detail .listado .fielo-record .fielo-field--is-F_MillasLM__c,
.reward_detail .listado .fielo-record .fielo-field--is-F_Nombre2__c,
.reward_detail .listado .fielo-record .fielo-field--is-F_VerMas__c,
.reward_detail .listado .fielo-record .fielo-field--is-FieloCMSPLT_AddtoCart,
.reward_detail .listado .fielo-record .fielo-field--is-FieloPLT__Points__c,
.reward_detail .listado .fielo-record .fielo-field--is-Name,
.reward_detail .listado .fielo-record .fielo-field__incommon,
.reward_detail .listado .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .redime_millas .listado .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c {
	font-family: 'Terpel Sans', Arial, sans-serif;
	font-weight: 700;
	margin: 5px 10px;
	color: #666
}

.cart__background .fieloplt-shopping-cart .redime_millas .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .redime_millas .listado .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .redime_millas .listado .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.cart__background .fieloplt-shopping-cart .reward_detail .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .reward_detail .listado .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .reward_detail .listado .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.redime_millas .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.redime_millas .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.redime_millas .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.redime_millas .listado .fielo-record .fielo-field--is-F_Nombre2__c,
.redime_millas .listado .fielo-record .fielo-field--is-Name,
.redime_millas .listado .fielo-record .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.redime_millas .listado .reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.redime_millas .listado .reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.reward_detail .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.reward_detail .listado .cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name,
.reward_detail .listado .fielo-record .fielo-field--is-F_Nombre2__c,
.reward_detail .listado .fielo-record .fielo-field--is-Name,
.reward_detail .listado .fielo-record .reward .fieloplt-reward-detail .fielo-field--is-Name,
.reward_detail .listado .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.reward_detail .listado .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .listado .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .redime_millas .listado .fielo-record .content-block .fielo-field--is-F_Nombre2__c,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .redime_millas .listado .fielo-record .content-block .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .listado .fielo-record .fielo-field--is-Name,
.reward_detail .reward .fieloplt-reward-detail .redime_millas .listado .fielo-record .fielo-field--is-Name {
	font-size: 14px
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c{
	font-family: 'Terpel Sans', Arial, sans-serif;
	font-weight: 700;
	font-size: 23px;
	color: #4c5051
}

.cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c,
.cart__background .fieloplt-shopping-cart .fielo-record .content-block .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name{
	margin-top: 30px;
	color: #ff1e0a;
}

h1.cart__header-name{
    color: #666666;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 2rem;
}

h2.cart__header-subtext{
    color: #666666;
    font-size: 1.5rem;
}

/* Redención OK */

.cart__success-main > body {
    background: #e8e8e8!important;
}

.cart__success-main .title_content {
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	max-width: 900px;
	margin: 30px auto;
	overflow: hidden
}

.cart__success-main .title_content .icon {
	float: left;
	width: 80px;
	margin-right: 20px
}

.cart__success-main .title_content .text {
	float: left
}

.cart__success-main .fielo-record-set__template {
	border-bottom: 1px solid #d2d7d7
}

.cart__success-main .fielo-record-set__template .fielo-record {
	max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-ViewImage {
	float: left;
    width: 100%;
    text-align: center;
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-ViewImage > span > img {
    width: 50%;
}

@media (min-width:1080px) {
    .cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-ViewImage {
        width: 150px;
        min-width: 120px;
        min-height: 120px;
        margin-right: 40px;
    }

    .cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-ViewImage > span > img {
        width: 100%;
    }
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_Producto__c {
	float: left;
	width: 100%;
	color: #666666;
	font-weight: 500;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}

@media (min-width:1080px) {
    .cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_Producto__c {
        width: 450px;
        margin-top: 0px;
        text-align: left;
    }
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_ProductoNombre2__c {
	float: left;
	width: 100%;
	color: #ff1e0a;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width:1080px) {
    .cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_ProductoNombre2__c {
        width: 450px;
        text-align: left;
    }
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_ProductoDescripcion__c {
	float: left;
	width: 100%;
	margin: 10px 0;
	color: #666666;
    font-size: 12px;
    padding: 0 20px;
    text-align: justify;
}

@media (min-width:1080px) {
    .cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_ProductoDescripcion__c {
        width: 450px;
        padding: 0;
    }
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_CodigoBono__c {
    float: left;
    width: 100%;
    color: #666666;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
}

@media (min-width:1080px) {
    .cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-F_CodigoBono__c {
        width: 350px;
        margin-top: -35px;
    }
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-FieloPLT__UniqueCode__c {
	float: left;
    width: 100%;
    color: #ff1e0a;
    font-weight: 900;
    text-align: center;
    margin-top: -10px;
    font-size: 2.5rem;
}

@media (min-width:1080px) {
    .cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-FieloPLT__UniqueCode__c {
        width: 350px;
    }
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-VoucherLink__c {
	float: left;
	width: 50px;
	margin-top: -30px
}

.cart__success-main .fielo-record-set__template .fielo-record .fielo-field--is-VoucherLink__c a {
	display: block;
	width: 35px;
	height: 35px;
	background: url(../images/btn-imprimir.png);
	background-size: 100%;
	color: transparent;
	font-size: 1px
}

.cart__error-main .message,
.cart__success-main .foot {
	text-align: center;
	font-size: 12px
}

.cart__success-main .foot {
	margin: 20px;
    padding: 10px 20px;
    
}

.cart__success-main .foot a {
	display: inline-block;
    margin: 20px;
    border-radius: 20px;
    color: #fff;
    padding: 10px 35px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .08rem;
    border: 2px solid #ff1e0a;
}

.cart__success-main .foot .volver_catalogo {
	background-color: transparent;
}

.cart__success-main .foot .volver_catalogo:visited{
    color: #ff1e0a;
}

.cart__success-main .foot .volver_home {
    background-color: #ff1e0a;
    color: #fff;
}

.cart__success-main .foot .volver_home:visited{
    color: #fff;
}

h1.cart-success__header{
    color: #666666;
    font-weight: 900;
    text-transform: uppercase;
}

div.cart-success__txt{
    color: #666666;
    font-size: 1.3rem;
    font-weight: 500;
}


/* Redención Error */

.cart__error-main > body {
    background: #e8e8e8!important;
}

.cart__error-main .iframe-login {
	margin-top: 0
}

.cart__error-main .message {
	width: 500px;
	margin: 90px auto;
	color: #fff
}

.cart__error-main .message .title {
	font-size: 22px;
	font-weight: 700;
	margin: 20px
}

.cart__error-main .message .boton-amarillo {
	display: block;
	margin: 20px auto;
	width: 130px;
	background-color: #fcb015;
	color: #4c5051;
	font-size: 12px;
	font-weight: 700;
	border-radius: 20px;
	padding: 10px 20px
}

/* Detalle Producto */

.reward_detail > body {
    background: #e8e8e8!important;
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-FieloCMSPLT_AddtoCart input {
	border: 1px solid #ff1e0a;
	border-radius: 20px;
	background-color: #efefef;
	font-size: 11px;
	padding: 7px 0 7px 13px;
	text-align: center;
    width: 60px;
    outline: none;
}

.reward_detail .reward .fieloplt-reward-detail{
    width: 1000px;
}

.reward_detail .reward .back_btn, .reward_detail .reward{
    background: transparent;
}

.reward_detail .reward{
    border: 0;
}

.reward > div > div.fielo-field--is-FieloCMSPLT_AddtoCart > div.fielo-field__label{
    display: none;
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-ViewImage img{
    margin-top: -50px;
    width: 75%;
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-Name {
    font-family: 'Terpel Sans', Arial, sans-serif!important;
	text-transform: none;
    color: #666666;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
}

.reward_detail .reward .fieloplt-reward-detail .cart__background .fieloplt-shopping-cart .fielo-record .content-block .fielo-field--is-F_Nombre2__c{
    font-family: 'Terpel Sans', Arial, sans-serif!important;
    text-transform: none;
    font-weight: 900;
    color: #ff1e0a;
    font-size: 2.5rem;
}
.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_MillasLM__c, 
.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-FieloPLT__Points__c {
    font-family: 'Terpel Sans', Arial, sans-serif!important;
    font-weight: 800;
    font-size: 1.5rem;
    color: #ff1e0a;
    margin-bottom: 10px;
    margin-right: 5px;
    width: auto;
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Volver__c{
    display: block;
    margin-top: 66px;
    width: auto!important;
    margin-left: 10px;
    border-radius: 60px;
    padding: 7px 30px;
    color: #ff1e0a;
    font-family: 'Terpel Sans', Arial, sans-serif!important;
    font-weight: 700;
    font-size: 12px;
    background-color: transparent;
    border: 2px solid #ff1e0a;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
}

@media (min-width:1400px) {
    .reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Volver__c{
        margin-top: 54px;
    }
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Volver__c a{
    text-decoration: none;
    color: #ff1e0a;
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Volver__c a:visited{
    color: #ff1e0a;
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-FieloCMSPLT_AddtoCart .fielo-button__submit{
    display: block;
    width: auto!important;
    margin-left: 10px;
    border-radius: 60px;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Terpel Sans', Arial, sans-serif!important;
    font-weight: 700;
    font-size: 12px;
    background-color: #ff1e0a;
    border: 2px solid #ff1e0a;
    text-transform: uppercase;
    letter-spacing: .08em;
}

.reward_detail .reward .fieloplt-reward-detail .fielo-field--is-F_Nombre2__c{
    font-family: 'Terpel Sans', Arial, sans-serif!important;
    text-transform: none;
    font-weight: 900;
    color: #ff1e0a;
    font-size: 2.5rem;
}

/* Coming Soon */

img.coming-soon__logo{
    width: 33%;
}

@media (min-width:1080px) {
    img.coming-soon__logo{
        width: 15%;
    }
}

h1.coming-soon__txt{
    margin-top: 30px;
}

/* Promociones Private */

.promo__form-main{
    padding: 0px 20px;
}

@media (min-width:1080px) {
    .promo__form-main{
        padding: 0;
    }
}

.promo__form-main > div.apexp > div > div > div > div.pbSubheader.brandTertiaryBgr.tertiaryPalette{
    display: none
}

.promo__h-subtext{
    font-size: 2rem;
    text-align: left;
    color: #ff1e0a;
    font-weight: 800;
    margin-bottom: -30px;
    margin-top: 20px;
}

.promo__form-main > div.apexp > div > div.pbBody > div > div.pbSubsection > table.detailList > tbody > tr > td > span > form > div > span > select,
.promo__form-main > div.apexp > div > div.pbBody > div > div.pbSubsection > table.detailList > tbody > tr > td > span > form > div > span > input.input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 8px;
    border-radius: 10px;
}

.btn.btnRed{
    color: #fff;
    border: 2px solid #ff1e0a;
    border-radius: 60px;
    padding: 7px 60px;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
    background: #ff1e0a;
    margin-top: 20px;
}
