@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-regular-webfont.woff') format('woff'),
         url('../fonts/terpelsans-regular-webfont.svg#terpel_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-medium-webfont.woff') format('woff'),
         url('../fonts/terpelsans-medium-webfont.svg#terpel_sansmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-bold-webfont.woff') format('woff'),
         url('../fonts/terpelsans-bold-webfont.svg#terpel_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-extrabold-webfont.woff') format('woff'),
         url('../fonts/terpelsans-extrabold-webfont.svg#terpel_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'Terpel Sans';
    src: url('../fonts/terpelsans-black-webfont.woff2') format('woff2'),
         url('../fonts/terpelsans-black-webfont.woff') format('woff'),
         url('../fonts/terpelsans-black-webfont.svg#terpel_sansblack') format('svg');
    font-weight: 900;
    font-style: normal;

}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Terpel Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}


@media (min-width:320px) {

}
  
@media (min-width:1080px) {

}

/* Nav */

.fielo-app-menu__btn{
    display: none;
}

.fielo-menu.fielo-menu--isVertical.fielo-navigation{
    width: 70px;
    position: fixed;
    top: 40%;
}

@media (min-width:320px) {
    .fielo-menu.fielo-menu--isVertical.fielo-navigation{
        display: none;
    }
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isVertical.fielo-navigation{
        display: block;
        background: #fff;
        border-radius: 0px 20px 20px 0px;
    }
}

.fielo-menu.fielo-menu--isVertical.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item{
    padding-left: 0px;
}

.fielo-menu.fielo-menu--isVertical.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item a.fielo-link i{
    font-size: 1.7em;
    margin: 7px auto;
    border: 2px solid #ff1e0a;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    color: #ff1e0a;
}

.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
    padding-bottom: 30px;
    border-bottom: 1px solid #fafafa;
    background-image: url('../images/LOGO-CLUBT.svg');
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: 10% 50%;
}

@media (min-width:1080px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        padding-top: 30px;
        padding-left: 430px;
    }
}

@media (min-width:1400px) {
    .fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered{
        padding-left: 700px;
    }
}

.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item{
    padding-left: 35px;
}

.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item a.fielo-link,
.fielo-menu.fielo-menu--isHorizontal.fielo-navigation nav.fielo-menu__block ul.fielo-list.fielo-list--is-unordered li.fielo-list__item a.fielo-link:visited{
    color: #55565b;
    text-decoration: none;
}

.btn-ingresar{
    border: 2px solid #ff1e0a;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 5px 20px;
    padding-left: 20px!important;
    margin-top: -5px;
    letter-spacing: 1.3px;
    margin-left: 30px;
    background-color: #ff1e0a;
}

.btn-ingresar a.fielo-link{
    color: #fff!important;
}

.btn-register{    
    border: 2px solid #ff1e0a;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 5px 20px;
    padding-left: 20px!important;
    margin-top: -5px;
    letter-spacing: 1.3px;
    margin-left: 30px;
}

.btn-register a.fielo-link{
    color: #ff1e0a!important;
}

/* Footer */
.fielo-footer.fielo-content{
    padding:0!important;
}

.fielo-footer{
    border-top: 0;
}

.el-footer{
    background-color: #ff1e0a;
    color: #fff;
    padding: 30px 45px;
}

.el-copyright{
    background-color: #ae1b17;
    color: #fff;
}

.title-footer{
    font-weight: 900;
    font-size: 1.2rem;
}

.footer-title-linea{
    height: 1px;
    background: #fff;
    width: 50px;
    position: relative;
    margin-bottom: 15px;
}

@media (min-width:320px) {
    .footer-numbers-margin{
        margin-left: 0px;
    }
}
  
@media (min-width:1080px) {
    .footer-numbers-margin{
        margin-left: 85px;
    }
}

.logo-footer{
    width: 100%;
    max-width: 42px;
}

.texto-footer-1{
    line-height: 1.3em;
    font-size: 1.6em;
}

.footer-numbers{
    font-weight: 900;
    font-size: 1.6em;
}

.space-up-1{
    margin-top: 43px;
    margin-bottom: 20px;
}

.nav-footer-1{
    padding: 0;
    list-style: none;
}

.nav-footer-link{
    color: #fff;
    text-decoration: none;
}

.nav-footer-link:hover{
    color: #fff;
}

/* Main Content Public */

main.fielo-main{
    max-width: 100%;
    width: 100%;
}

/* Inicio */

.banner-inicio{
    background-image: url('../images/inicio/banner-inicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.banner-inicio div{
    background: rgba(250, 250, 250, .7);
}

@media (min-width:1080px) {
    .banner-inicio{        
        min-height: 470px;
        background-size: 100%;
    }

    .banner-inicio div{
        background: trasparent;
    }
}

@media (min-width:1400px) {
    .banner-inicio{        
        min-height: 650px;
    }
}

.header-text-1{
    font-weight: 800;
    font-size: 5em;
    color: #ff1e0a;
}

.header-text-2{
    font-weight: 400;
    color: #ff1e0a;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.btn-terpel{
    border: 2px solid #ff1e0a;
    border-radius: 60px;
    padding: 7px 100px;
    text-transform: uppercase;
    letter-spacing: .08em;
    text-decoration: none;
}

.btn-terpel:hover{
    text-decoration: none;
}

.btn-ui-1{
    color: #ff1e0a;
    background: #fff;
}

.btn-ui-1:hover{
    color: #ff1e0a;
}